body {
	background: #f1842c;
	background-image: url("/img/paint-splatter-orange.jpg");
	background-repeat: repeat;
}

.center { 
    float: none; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    text-align: center;
}

.container p {
	color: #ffebd9;
	text-align: left;
}

#main {
	margin-top: 50px;
	margin-bottom: 20px;
}

#footer {
	max-width: 900px;
	margin-top: 0px;
}

#myCarousel {
	width: 244px;
	height: 624px;
	padding-right: 60px;
	margin-top: 35px;
}

#icon {
	width: 114px;
	height: 114px;
	float: right;
	margin-left: 20px;
}

#appstore {
    height: 86px;
    width: 320px;
    padding: 10px 10px 10px 5px;
}

#hb {
    width: 20px;
    height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:link {
	color: #8c4312;
    text-decoration:none;
}

a:visited {
	color: #8c4312;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color: #73370f;
}

a:active {
    text-decoration:underline;
}

#footer a:link, #footer a:visited {
	color: #ffebd9;
}

img.lineup {
	width: 470px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1 {
    font-size: 50px;
    line-height: 50px;
	color: #ffebd9;
	padding: 0px;
	text-align: center;
	font-family: 'brush_strokefastregular';
}

h2 {
	color: #663300;
 	font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
}

h3 {
	font-size: 34px;
	color: #ffebd9;
}

h4 {
	font-size: 22px;
	line-height: 28px;
	color: #663300;
}

small {
	font-size: 11px;
    color: #ffebd9;
    text-align: center;
}

hr {
	border-top: 1px;
	border-color: #ffebd9;
}

.carousel {
	background: url("/img/iphone.png") no-repeat;
	padding-left: 35px;
}

.item {
	padding-top: 99px;
	width: 244px;
	height: 433px;
}

@media (min-width: 768px) and (max-width: 979px) { 
	h1 {
		font-size: 40px;
		line-height: 40px;
	}
	
	h2 {
		font-size: 15px;
		line-height: 15px;
	}
	
	.iphone {
		padding-right: 20px;
	}

	 #appstore {
        width: 240px;
        height: auto;
    }

	img.lineup {
		width: 380px;
		height: auto;
	}

	body {
		background-size: 950px 600px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 40px;
		line-height: 40px;
	}
	
	h2 {
		font-size: 15px;
		line-height: 15px;
	}

	h4 {
		font-size: 16px;
	}

	img.lineup {
		width: 320px;
		height: auto;
	}

	body {
		background-size: 950px 600px;
	}

	#main {
		margin-top: 20px;
	}
}

@media (max-width: 320px) {
	#appstore {
		width: 220px;
		height: auto;
		padding-left: 5px;
		padding-right: 5px;
	}
}